version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "souvik666"
    assignees:
      - "souvik666"
    labels:
      - "dependencies"
      - "security"
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
    rebase-strategy: "auto"
    target-branch: "main"

  - package-ecosystem: "github-actions"
    directory: "/" 
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "ci"
    rebase-strategy: "auto"
    target-branch: "main"
